{% extends 'template.html.twig' %} {% block title %}{% endblock %} {% block body
%}
<div class="row">
  {% for personne in personnes %}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">{{ personne.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{ personne.firstname }}{{ personne.name }}
      </h6>
      <p class="card-text">age : {{ personne.age }}</p>

      <a
        href="{{ path('personne.detail', { id: personne.id }) }}"
        class="card-link"
        ><i class="fa-solid fa-circle-info"></i></a
      >
 {% if is_granted('ROLE_ADMIN') %}
      <a
        href="{{ path('personne.delete', { name: personne.name }) }}"
        class="card-link"
        ><i class="fa-solid fa-trash" style="color: #fa0000;"></i></a
      >
  {% endif %}
  {% if is_granted('ROLE_ADMIN') %}
      <a
        href="{{ path('personne.edit', { id: personne.id }) }}"
        class="card-link"
        ><i class="fa-regular fa-pen-to-square"></i></a
      >
  {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% if isPaginated is defined and isPaginated %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page != 1 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ path('personne.list.alls', { page: page - 1 }) }}"
        >Previous</a
      >
    </li>
    {% endif %} {% for i in range(1,nbrePage) %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ path('personne.list.alls', { page: i }) }}"
        >{{ i }}</a
      >
    </li>
    {% endfor %} {% if page != nbrePage %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ path('personne.list.alls', { page: page + 1 }) }}"
        >next</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock %}
